<!DOCTYPE html> 
<html lang="en"> 
    <head> 
        <meta charset="UTF-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>Ygames</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'usat/styles.css' %}">
        
    </head>
    <body>
        <header class="top">
            <nav>
                <ul>
                    <li class="ygame" ><a href="{% url 'usat:home' %}">Ygames</a></li>
                    <li class="right"><a href="{% url 'usat:sign_up' %}">Sign up</a></li>
                    <li class="right"><a href="{% url 'usat:log_in' %}">Log in</a></li>
                </ul>
            </nav>
        </header>
        <div class="fill">
            <h1>Ygames a web where the past is reincarnated</h1>
            <p class="p3">
                This website is made by Ghost
                this website is for the digital fest conducting in my school,Pleasent English school
                This is a website where the users can download or upload games and even play in hear
                This website is still a work in progress
                Thats all now Enjoy!
            </p>
        </div>
        </body>
</html>